
body{
    background-color:#F0131E;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;  
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

img{
    width: 50%;
    margin: 0;
    padding-top:2em;
    margin-bottom: -1em;
    }

#game{
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;

}

.card {
    width: 160px;
    height: 120px;
    background-color: rgb(212, 207, 207);
    border-left: solid #F0131E 10px;
    border-right: solid #F0131E 10px;
    border-top: solid #F0131E 10px;
    border-bottom: solid #F0131E 10px;
    text-align: center;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    line-height: 120px;
}

.first-button {
    background-color: lightsalmon;
}

.second-button {
    background-color: darkkhaki;
}

.genre-title {
    background-color: plum;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin: 3px;
}

.correct-answer {
    background-color:olivedrab;
}

.incorrect {
    background-color: peru;
}